.header{
    background: linear-gradient(90deg, rgba(6,6,62,1) 27%, rgba(23,33,120,1) 92%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.buy a{
    color: white;
    font-size: 130%;
}