@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.header{
    background: linear-gradient(90deg, rgba(6,6,62,1) 27%, rgba(23,33,120,1) 92%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 15vh;
}

.header .logo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 130%;
}

.buy a{
    color: white;
    font-size: 130%;
}